<div
  id="12157f39-9547-45b1-aa4b-e1c9d51fcf24"
  class="utrecht-form-field utrecht-form-field--invalid utrecht-form-field--checkbox"
>
  <div class="utrecht-form-field__label utrecht-form-field__label--checkbox">
    <label for=":r0:" class="utrecht-form-label utrecht-form-label--checkbox"
      ><input
        aria-describedby=":r1: :r3:"
        id=":r0:"
        name="consent"
        type="checkbox"
        class="utrecht-checkbox utrecht-checkbox--html-input utrecht-checkbox--custom utrecht-checkbox--invalid utrecht-checkbox--required utrecht-form-field__input"
        aria-invalid="true"
        aria-required="true"
        value="true"
      />Ik ga akkoord met de algemene voorwaarden</label
    >
  </div>
  <div id=":r1:" class="utrecht-form-field-description utrecht-form-field__description">
    U kunt ons echt vertrouwen!
  </div>
  <div id=":r3:" class="utrecht-form-field-error-message utrecht-form-field__error-message">
    U moet akkoord gaan met de algemene voorwaarden, anders kunt u niet verder.
  </div>
</div>
